.container {
  
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin: 1%;
  border-radius: 50px 20px;
  cursor:pointer;
  background-color: rgba(195, 218, 245, 0.8);
  background-image: linear-gradient(-225deg, snow 0%, silver 100%);
  :hover{
    box-shadow: 0 0 10px silver, 0 0 30px silver, 0 0 60px gray;
    transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     filter: saturate(150%);
     border-radius: 50px 20px;
  
  }
}

.title {
    font-family: 'cookies';
    font-size: 20px;
    text-decoration-line: none;
    text-align: center;

}

.image {
    width: 100%;
    height: 300px;
    border-radius: 50px 20px 0px 0px; 
}

.dietsList { 
    font-family: 'cakecafe';
    text-size-adjust: true;
    text-align: center;
}
