.container {
  
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin: 1%;
  border-radius: 20px;
  cursor:pointer;
  background-color: silver;
  z-index: 0;
  
  :hover{
   
    box-shadow: 0 0 90px silver;
    transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     filter: saturate(150%);
   
  }
 
}

.title {
    font-family: 'cookies';
    font-size: 22px;
    text-decoration-line: none;
    text-align: center;


}

.image {
  
    width: 100%;
    height: 260px;
   
    
   
}

.dietsList { 
    font-family:fantasy;
    font-size: 0.6em;
    margin: 2%;
    margin-bottom: 2%;
    text-size-adjust: true;
    text-align: center;

}

.close {

  position: absolute;
  background-color: red;  
  border-radius: 50% ,50%,50%,50%;
  height: 30px;
  width: 30px;
  justify-items: center;
  align-self: center;
  z-index: 1;
    
}

.nivel {
  align-self: last baseline;
  margin-top: 1%;
  margin-right: 2%;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  line-height: 50px;
 
  

}