@font-face {
    font-family: 'cakeCafe';
    src: url('./Fonts/MonteCarlo-Regular.ttf');
}

@font-face{   
font-family: 'cookies';
    src: url('./Fonts//Cookies\ and\ Cheese\ Bold\ -Demo.ttf');
}
@font-face{   
    font-family: 'beauty';
        src: url('./Fonts/BeautyDemo.ttf');
    }
@font-face{   
        font-family: 'praise';
            src: url('./Fonts/Praise-Regular.ttf');
        }

.body{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
    background-image: url('./image/ingredientes-italianos-apetitosos-frescos-sabrosos-comida-fondo-oscuro-listo-cocinar-inicio-italiano-comida-saludable-concepto-cocina-viraje.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    
}