
.paginado{
    display: flex;
    width: 20%;
    top: 100px;
    left: 40%;
    height:20px;
    flex-direction: row;
    align-items: flex-start;
    position: fixed;
    justify-content: space-between;
}
.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-top: 30px;

}

.buttonpag {
    color: #fff;
    background-color: #876006;
    border-radius: 5px;
    padding: 4px 8px;
    text-decoration: none;
    margin: 0 4px;
  }
  
  .buttonpag.active {
    background-color: #ddd;
    color: black;
  }
  
  .buttonpag:hover:not(.active) {
    background-color: #ddd;
  }