
.paginado{
    display: flex;
    width: 20%;
    top: 100px;
    left: 40%;
    height:20px;
    flex-direction: row;
    align-items: flex-start;
    position: fixed;
    justify-content: space-between;
    z-index: 2;
    @media (max-width:850px){
     .page {
      display: none;
     }
    ;
  }


}
.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-top: 30px;

}

.buttonpag {
    color: #fff;
    background-color: #876006;
    border-radius: 5px;
    padding: 4px 8px;
    text-decoration: none;
    margin: 0 4px;
  }
  
  .buttonpag.active {
    background-color: #ddd;
    color: black;
  }
  
  .buttonpag:hover:not(.active) {
    background-color: #ddd;
  }

  .norecipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 700px;
    width: 900px;
    @media (max-width:450px)
      {
       height: 800px;
       width: 400px;
      }
  }
  .norecipetitle {
   margin-top: 20%;
   margin-left: auto;
   font-size: 50px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: rgb(81, 218, 31);
  }