.body {

    display: flex;
    flex-direction: column;
    margin-top: 0;

}

.header {
    position: fixed;
    width: 100%;
    height: 25%;
    

}
.recipesContainer {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    background-image: url('./../../image/tabla-cortar-madera-rodeada-platos-pasta-e-ingredientes-mesa.jpg');
    background-attachment: fixed;    
}

.div {
    width: 100%;
    height: 60%;
    color: rgb(107, 107, 6);
    background-color: rgb(240, 239, 209);
    margin-top: 0;
   
}
.titulo{
   
     font-size: 50px;
     font-family: 'praise';
     padding-top: 20px;
     padding-left: 10px;
    
}