.container {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color:rgb(212, 203, 104);
    height: 900px;
    
  


}
.form{
    width: 1100px;
    height: 800px;
    display: flex;
    position: absolute;
    left: 5%;
    background-image: url('../../image/crear_Receta.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.nombre {
    position: absolute;
    top:19%;
    left: 11%;
   
}

.img {
    position: absolute;
    top:23%;
    left: 36%;
    color: blue;
}


.nivel {
    position: absolute;
    top:23%;
    left: 16%;
    color: blue;
}

.pasos {
    position: absolute;
    top:37%;
    left: 3%;
    border-color: transparent;
    background-color: black;
    height: 10%;
    width: 48%;
   
}

.resumen {
    position: absolute;
    top:56%;
    left: 3%;
    border-color: transparent;
    background-color: black;
    height: 12%;
    width: 48%;
   
    
   
}

.textarea {
width: 100%;
height: 100%;
    border-radius: 10px;
    font-size: 20px;
    word-break: break-all;

}
.diets {
    position: absolute;
    top:75%;
    left: 25%;
    color: blue;
   

}
.buttons { 
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    justify-content: space-around;
}
.button{
    
    width: 20%;
    font-family: 'cookies', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
    color: rgb(8, 8, 8);
    border-radius: 5px;
    background-color: #dee2e6d0;
}   